/* ## General Setup */
:root {
  --card-size: 12em; /* Used to conveniently scale cards */
}

@font-face {
  font-family: "Cantarell";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("fonts/Cantarell-VF.woff2") format("woff2"),
    url("fonts/Cantarell-VF.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cantarell";
  font-weight: 400;
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

.main {
  padding: 1.5em 1em;
  width: clamp(350px, 100%, calc(var(--card-size) * 4));
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.heading {
  display: block;
  flex-basis: calc(var(--card-size) * 4);
  flex-grow: 2;
}

/* ## Global Card Styles */
.card {
  /* Edit the `--card-size` variable in the top of this document*/
  height: calc(var(--card-size) - var(--card-size) / 10);
  border-radius: 12px;
  /* Used for layout debugging: */
  /* border: 1px solid red; */
}

.card-square {
  flex-basis: var(--card-size);
  flex-grow: 1;
}

.card-wide {
  flex-basis: calc(var(--card-size) * 2);
  flex-grow: 2;
}

.card-super-wide {
  flex-basis: calc(var(--card-size) * 4);
  flex-grow: 2;
}

.card-blue {
  background: linear-gradient(125deg, rgba(153,193,241,1) 0%, rgba(28,113,216,1) 100%);
}

.card-green {
  background: linear-gradient(125deg, rgba(87,227,137,1) 0%, rgba(38,162,105,1) 100%);
}

.card-purple {
  background: linear-gradient(125deg, rgba(192,97,203,1) 0%, rgba(129,61,156,1) 100%);
}

.card-gray {
  background: linear-gradient(125deg, rgba(240,240,240) 0%, rgba(250,250,250,1) 100%);
}

.card-red {
  background: linear-gradient(125deg, rgba(255,30,60,1) 0%, rgba(230,20,40,1) 100%);
}

.card-yellow {
  background: linear-gradient(125deg, rgba(255,210,0,1) 0%, rgba(255,200,0,1) 100%);
}

.card-orange {
  background: linear-gradient(125deg, rgba(255,110,40,1) 0%, rgba(255,90,28,1) 100%);
}

/* ## Header Card */
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
}

.header {
  color: #FFFFFF;
  width: 5em;
  font-size: 2.5rem;
  font-weight: 900;
  font-variation-settings: "wght" 900;
}

.header-two {
  color: #FFFFFF;
  width: 5em;
  font-size: 2rem;
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

.profile-picture {
  height: 5em;
}

.profile-picture-two {
  height: 3.4em;
}

/* ## Social Card */
.card-social {
  background: linear-gradient(125deg, rgba(87,227,137,1) 0%, rgba(38,162,105,1) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: calc(var(--card-size) / 7);
  gap: 1.5em;
}

.card-social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: inherit;
}

.social-icon {
  height: 2.5em;
  opacity: 0.8;
  transition: transform 100ms;
}

.social-icon:hover {
  transform: scale(1.05);
}

/* ## Info Cards */
.card-info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-image {
  height: 50%;
  opacity: 0.8;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-text {
  color: #FFFFFF;
  text-align: center;
  opacity: 0.9;
}

.info-text-bold {
  color: #FFFFFF;
  text-align: center;
  opacity: 0.9;
  font-weight: bold;
}

/* ## Project Cards */
.card-project {
  border: 1px solid rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5em;
  gap: 2em;
  cursor: pointer;
}

.project-image {
  height: 35%;
}

.project-about {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 900;
  font-variation-settings: "wght" 900;
  color: #555555;
}

.project-description {
  font-size: 1rem;
  color: #777777;
}

/* ## Blog Cards */
.card-blog {
  flex-basis: calc(var(--card-size) * 4);
  flex-grow: 2;
  border-radius: 12px;
  background: linear-gradient(125deg, rgba(240,240,240) 0%, rgba(250,250,250,1) 100%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-text {
  color: #000000;
  padding: 1rem;
  opacity: 0.9;
}

.blog-text-bold {
  color: #000000;
  padding: 1rem;
  opacity: 0.9;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #242424;
  }

  .project-title {
    color: #AAAAAA;
  }

  .card-gray {
      background: linear-gradient(125deg, rgba(51,51,51,1) 0%, rgba(36,36,36,1) 100%);
  }

  .card-blog {
    background: linear-gradient(125deg, rgba(51,51,51,1) 0%, rgba(36,36,36,1) 100%);
  }

  .blog-text {
    color: #FFFFFF;
  }

  .blog-text-bold {
    color: #FFFFFF;
  }
}

